{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
  <article class="publication__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="publication__item-content">
      {% if teaser %}
      <div class="publication__item-teaser">
        <img src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="">
      </div>
      {% endif %}

      <div class="publication__item-body">
        <h2 class="publication__item-title" itemprop="headline">{{ title }}</h2>

        {% if post.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}

        <p>{{post.authors}}</p>

        <p>{{ post.venue }}{% if post.date %} {{ post.date | date: "%Y" }} {% endif %} 
          {% if post.paper_url %} <a href="{{ post.paper_url }}">[PDF]</a>{% endif %} 
          {% if post.mainpage_url %} <a href="{{ post.mainpage_url }}">[Project]</a>{% endif %} 
          {% if post.code_url %} <a href="{{ post.code_url }}">[Code]</a>{% endif %}
        </p>

        {% if post.excerpt %}
        <p class="publication__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
        {% endif %}
      </div>
    </div>
  </article>
</div>